body {
}
h1{
    color:red;
}
* {
    padding: 0;
    margin: 0px 0 0 0px;
    
}
.container {
    height: 200%;
  
}
body {
    
}

#header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 0;
    max-height: 50px;
    background-color: #096B95;
    background-attachment: scroll;
    background-position: left;
    position:fixed;
    width:100%;
    opacity:1;
    z-index:1;
}
#navlist {
    display: flex;
}

ul {
}

li {
    list-style: none;
}

    li a {
        text-decoration: none;
        width: 20px;
        margin: 0 30px;
        color: white;
        padding: 10px;
        border-radius: 9px;
        transition: all ease-in 0.2s;
        font-size: 19px;
    }

        li a:hover {
            background-color: white;
            color: #096B95;
        }

#top {
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 25px;
}

.body {
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.3;
    background-attachment:fixed;
    
    
}
   .hello{
       position:absolute;
       top:200px;
       left:200px;
       font-size:80px;
       color:white;
       font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   }
.name {
    color: #096B95;
    font-weight: 800;
}
.myprogress {
    min-width: 100%;
    margin: 0px auto;
    text-align: center;
}

.myprogress {
    min-width: 100%;
    margin: 0px auto;
    text-align: center;
}

    .myprogress .circle,
    .myprogress .bar {
        
        display: inline-block;
        background: #fff;
        width: auto;
        height: auto;
        border-radius:90px;
        border: 1px solid #d5d5da;
    }
                


    .myprogress .bar {
        position: relative;
        width: 80px;
        height: 2px;
        top: -5px;
        border: 0px solid #d5d5da;
        background: #000;
    }

    .myprogress .circle .label {
        display: inline-block;
        width: auto;
        height: auto;
        line-height: 30px;
        font-size: 24px;
    }

    .myprogress .circle .title {
        color: #b5b5ba;
        font-size: 24px;
        line-height: 100px;
        padding:20px;
    }